<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotels</title>
    <link href= "/public/assets/Hotels.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo">
                <a href=""><h1>Explore</h1></a>
            </div>

            <div class="navRight">
                <div class="menubar">
                    <a href="/Hotels">Hotels</a>
                     <a href="/Bus">Transport</a>
                    <a href=""><h3>About Us</h3></a>
                </div>
                <div class="signup">
                    <a href="/register"><h3>Sign Up</h3></a>
                </div>
            </div>
            
        </div>
    </header>

    <main>
        <div class="titleHotels">
            <h1>Hotels</h1>
        </div>

        <div class="hotelContent">
            <div class="list">
                <div class="content">
                    <img src="/public/assets/images/Villa/1.jpeg" alt="">
                    <div class="textContent">
                        <h3>Alaya Dedaun Kuta</h3>
                        <p class="hastag">#Villa</p>
                        <p>Start from:</p>
                        <p>Rp. 1.000.000,00-</p>
                    </div>
                    <a href=""><h1>></h1></a>
                </div>
                <div class="content">
                    <img src="/public/assets/images/Villa/2.jpeg" alt="">
                    <div class="textContent">
                        <h3>D'lone Villa</h3>
                        <p class="hastag">#Villa</p>
                        <p>Start rom:</p>
                        <p>Rp. 500.000,00-</p>
                    </div>
                    <a href=""><h1>></h1></a>
                </div>
            </div>
            <div class="list">
                <div class="content">
                    <img src="/public/assets/images/Villa/3.jpeg" alt="">
                    <div class="textContent">
                        <h3>Nirwana</h3>
                        <p class="hastag">#Villa</p>
                        <p>Start rom:</p>
                        <p>Rp. 1.400.000,00-</p>
                    </div>
                    <a href=""><h1>></h1></a>
                </div>
                <div class="content">
                    <img src="/public/assets/images/Villa/1.jpeg" alt="">
                    <div class="textContent">
                        <h3>Shangri La</h3>
                        <p class="hastag">#Villa</p>
                        <p>Start rom:</p>
                        <p>Rp. 3.200.000,00-</p>
                    </div>
                    <a href=""><h1>></h1></a>
                </div>
            </div>
            <div class="list">
                <div class="content">
                    <img src="/public/assets/images/Villa/2.jpeg" alt="">
                    <div class="textContent">
                        <h3>Obsidian</h3>
                        <p class="hastag">#Villa</p>
                        <p>Start rom:</p>
                        <p>Rp. 1.350.000,00-</p>
                    </div>
                    <a href=""><h1>></h1></a>
                </div>
                <div class="content">
                    <img src="./public/assets/images/Villa/3.jpeg" alt="">
                    <div class="textContent">
                        <h3>Villa Triwardoyo</h3>
                        <p class="hastag">#Villa</p>
                        <p>Start rom:</p>
                        <p>Rp. 4.000.000,00-</p>
                    </div>
                    <a href=""><h1>></h1></a>
                </div>
            </div>
        </div>
    </main>

    <div class="footer">
        <div class="footcontent">
                <a href="">Privacy Policy</a>
                <a href="">Contact Us</a>
                <a href="">Copyright @2021</a>
            </div>
    </div>
    
</body>
</html>
