<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/public/assets/login.css">
</head>
<body>
    
    <div class="header">
        <div class="hleft">
            Explorer
        </div>
        <div class="hright">
            <a href="/Hotels">Hotels</a>
            <a href="/Bus">Transport</a>
            <a href="">About Us</a>
            <div class="signup">
                <a href="/register"><h3>Sign Up</h3></a>
            </div>
        </div>
    </div>
    <form action="/login" method="POST">
    <div class="body">
        <div class="title">
            Login
        </div>
        <div class="name">
            <div class="text">
                Email
            </div>
            <div class="component">
                <input type="email" id="email" name="email" required>
            </div>
        </div>

        
        <div class="pass">
            <div class="text">
                Password
            </div>
            <div class="component">
                <input type="password" id="passowrd" name="password" required>
            </div>
        </div>
        
        <div class="ask">
            <div class="login">
                Don't have an account? 
                <a href="/register">Sign Up</a>
            </div>
        </div>

        <div class="submit">
            <a href="">
                <button type="submit" >Login</button>
            </a>
        </div>
    </form>
    </div>
    <div class="footer">
        <div class="footcontent">
                <a href="">Privacy Policy</a>
                <a href="">Contact Us</a>
                <a href="">Copyright @2021</a>
            </div>
    </div>
</body>
</html>