<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    <link rel="stylesheet" href="/public/assets/payment.css">
</head>
<body>
    <div class="header">
        <div class="hleft">
            Explorer
        </div>
        <div class="hright">
            <a href="/Hotels">Hotels</a>
            <a href="/Bus">Transport</a>
            <a href="">About Us</a>
            <div class="signup">
                <a href="/register"><h3>Sign Up</h3></a>
            </div>
        </div>
    </div>
    <div class="title">
        Choose Your Payment Method
    </div><br>
    <div class="cluster 1">
        <div class="card 1">
            <div class="paypic 1">
                <img class="pic 1" src="public/assets/images/creditLogo.png" alt="">
            </div>
            <div class="method">
                Credit card
            </div>
        </div>
        <div class="card 2">
            <div class="paypic 2">
                <img class="pic 2" src="public/assets/images/gopay logo.png" alt="">
            </div>
            <div class="method">
                GoPay
            </div>
        </div>
    </div>
    <div class="cluster 2">
        <div class="card 3">
            <div class="paypic 3">
                <img class="pic 3" src="public/assets/images/Logo OVO.png" alt="">
            </div>
            <div class="method">
                OVO
            </div>
        </div>
        <div class="card 4">
            <div class="paypic 4">
                <img class="pic 4" src="public/assets/images/dana logo.png" alt="">
            </div>
            <div class="method">
                Dana
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footcontent">
                <a href="">Privacy Policy</a>
                <a href="">Contact Us</a>
                <a href="">Copyright @2021</a>
            </div>
    </div>
    
</body>
</html>